/* Default styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.Header {
  position: relative;
  background-image: radial-gradient(circle, #008683, #007a7a, #ee3459ba, #006366, #00464a)
}

.NavBar {
  background-color: #00464a;
}

.container {
  max-width: 992px;
  margin: 0 auto;
}

.navWrap {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav ul .button {
  padding-left: 20px;
  list-style: none;
}

.nav ul .ancor {
  list-style-type: none;
}

.nav ul .ancor a {
  text-decoration: none;
  color: antiquewhite;
  text-decoration: none;
  font-weight: 900;
}

.nav ul .ancor a:hover {
  text-decoration: none;
  background-color: #4a4a4a;
  border-color: transparent;
  color: #fff;
  border-radius: 3px;
  padding: 15px 23px 15px 23px;
}

.nav ul .button a {
  text-decoration: none;
  background-color: #f14668;
  border-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  border-radius: 3px;
  padding: 13px 21px 13px 21px;
}

.nav ul .button a:hover {
  background-color: #ee3459b8;
}

.button li {
  justify-content: center;
  background-color: #ffff00bd;
  display: flex;
  width: 100%;
}

.button li a {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  font-family: sans-serif;
}

.HeadContent img {
  width: 350px;
}

.capsule h3 {
  color: white;
  text-align: center;
}

.capsule p {
  text-align: center;
  color: white;
}

.capsuleProducts img {
  width: 200px;
  height: 200px;
}

.capsules h1 {
  font-family: emoji;
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
  color: white;
  font-weight: bolder;
}

.capsules p {
  font-size: 13px;
  text-align: center;
  margin-top: -16px;
  color: white;
}

.capsuleProducts span {
  grid-column-gap: 3px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.capsuleProducts span img {
  padding: 5px;
  width: 15px;
  height: 15px;
}

.capsuleProducts span p {
  font-family: -webkit-body;
  font-size: 16px;
  line-height: 0px;
  color: white;
}

.navLogo img {
  width: 75px;
}

/* .capsule{
  background-color: black;
} */
/* Extra small devices (phones, 576px and down) */
.capsuleProducts {
  gap: 100px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
}

@media only screen and (max-width: 576px) {
  .navLogo img {
    width: 30px;
  }

  .HeadContent img {
    width: 200px;
  }

  .nav ul .ancor a {
    font-size: 5px;
  }

  .navWrap {
    justify-content: space-around;
  }
  .nav ul .button a {
    background: none;
    padding: 0px;
    font-size: 7px;
  }

  .HeadContent {
    background: #003c3f;
    margin-top: 0px;
    padding: 52px 20px;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    text-align: center;
  }

  .button li a {
    font-size: 9px;
    margin-top: 5px;
  }

  .capsuleProducts {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .capsuleBG {
    background-color: #003c3f;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #000000;
  }

  .capsuleProducts span p {
    font-size: 12px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {

  .navLogo img {
    width: 70px;
  }

  .nav ul .ancor a {
    font-size: 8px;
  }

  .nav ul .button a {
    font-size: 8px;
  }

  .HeadContent img {
    width: 200px;
  }

  .HeadContent {
    background: #003c3f;
    margin-top: 0px;
    padding: 52px 20px;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 10px;
    text-align: center;
  }

  .capsuleBG {
    background-color: #003c3f;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #000000;
  }

  .capsuleProducts {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navLogo img {
    width: 100px;
  }

  .HeadContent img {
    width: 350px;
  }

  .nav ul .ancor a {
    font-size: 16px;
  }

  .nav ul .button a {
    font-size: 16px;
  }

  .capsuleProducts {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
  }

  .HeadContent {
    background: #003c3f;
    margin-top: 0px;
    padding: 52px 20px;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 0px;
    text-align: center;
  }

  .capsuleBG {
    background-color: #003c3f;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #000000;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navLogo img {
    width: 130px;
  }

  .capsuleProducts {
    grid-template-columns: repeat(3, 3fr);
  }

  .HeadContent {
    background: #003c3f;
    margin-top: 0px;
    padding: 52px 20px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 0px;
  }

  .capsuleBG {
    background-color: #003c3f;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #000000;
  }

}